body, body * {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    font-size: 20px;
}
header{
    padding: 10px;
    background-color: #cc0000;
}
header h1{
    color: #fff;
    font-size: 40px;
}
main {
    margin: 0px auto;
}