.login{
    background-color: #fff;
    padding: 20px;
}
.login h2{
    font-size: 20px;
}
.login form{

}

.login input:not([type="submit"]){
    font-size: 20px;
    width: 80%;
    border: none;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

.login input:not([type="submit"])::placeholder{
    color: #aaa;
}

.login input[type="submit"]{
    background-color: #def;
    padding: 5px 20px;
    border-color: #888;
    border-radius: 5px;
    border-width: 2px;
    margin: 20px auto;
}