.register{
    background-color: #fff;
    padding: 20px;
}
.register h2{
    font-size: 20px;
}
.register form{

}

.register input[type="text"]{
    font-size: 20px;
    width: 80%;
    border: none;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

.register input[type="text"]::placeholder{
    color: #aaa;
}

.register input[type="submit"]{
    background-color: #def;
    padding: 5px 20px;
    border-color: #888;
    border-radius: 5px;
    border-width: 2px;
    margin: 20px auto;
}