<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>認証完了 | Kitteless</title>
    <link rel="stylesheet" href="common.css">
</head>

<body>
<header><h1>Kitteless</h1></header>
<main class="complete">
    <h2>手続き完了</h2>
    <p>切手を認証しました。<br>郵便物をポストに投函してください。</p>
    <button onclick="location.href='/payment'" class="mt-100">新しい切手を発行する</button>
</main>
</body>

</html>