<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>切手画像アップロード | Kitteless</title>
    <link rel="stylesheet" href="common.css">
    <script src="imagePreview.js"></script>
</head>

<body>
<header><h1>Kitteless</h1></header>

<main class="entry">
  <h2>画像アップロード</h2>
    <form class="stampCode">
        <h3>切手コード</h3>
        <input type="text" name="stampCode" placeholder="切手コード" th:value="${stampPresenter.formattedStampCode()}" readonly />
        <p>切手コードを郵便物に枠線も含め以下のようにペンでお書きください</p>
        <p>例：361 - 479 - 825 の場合</p>
        <figure>361<br>479<br>825</figure>
    </form>
    <form method="post" action="/post-office/match" enctype="multipart/form-data" class="entryPicture">
        <h3>切手の撮影</h3>
        <p>書いたコードを撮影し<br>撮影した画像をアップロードしてください</p>
        <label>
            <input type="file" name="image" accept="image/*" capture="camera" id="file" onchange="previewImage(this);"/>
            ファイルを選択
        </label>
      <br>
      <input type="submit" value="画像送信">
      <img id="preview" src="">
    </form>
    
</main>
</body>
</html>