<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ログイン | Kitteless</title>
  <link rel="stylesheet" href="common.css">
</head>

<body>
<div th:insert="~{common::#header}"></div>
<main class="login">
  <h2>ログイン</h2>
  <form method="post" action="/login">
    <p th:if="${result}==false" class="attention">アカウント名 または パスワード が間違っています。</p>
    <input type="text" name="username" placeholder="アカウント名"/>
    <input type="password" name="password" placeholder="パスワード"/>
    <input type="submit" value="ログイン">
  </form>

  <p>アカウントはお持ちですか？</p>
  <button onclick="location.href='/register'">新規会員登録</button>

</main>
<div th:insert="~{common::#footer}"></div>
</body>
</html>
