<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ログイン | Kitteless</title>
  <link rel="stylesheet" href="common.css">
</head>

<body>

<header><h1>Kitteless</h1></header>

<main class="login">
  <h2>ログイン</h2>
　<p th:if="${login}==false">usernameまたはpasswordが間違っています。</p>
  <p>アカウントはお持ちですか？</p>
  <button onclick="location.href='/register'">新規会員登録</button>

  <form method="post" action="/login">
    <input type="text" name="username" placeholder="アカウント名"/>
    <input type="text" name="password" placeholder="パスワード"/>
    <input type="submit" value="ログイン">
  </form>
</main>
</body>
</html>
