<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ログイン | Kitteless</title>
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="login.css">
</head>

<body>
<header><h1>Kitteless</h1></header>

<main class="login">
  <h2>ログイン</h2>
<!--  <p th:if="">usrenameまたはpasswordが間違っています。</p>-->
  <button onclick="location.href='/register'">アカウント登録はこちら</button>
  <form method="post" action="/login">
    <input type="text" name="username" placeholder="username"/>
    <input type="text" name="password" placeholder="password"/>
    <input type="submit" value="ログイン">
  </form>
</main>
</body>
</html>
