<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>決済 | Kitteless</title>
    <link rel="stylesheet" href="common.css">
    <script src="/payment.js"></script>
</head>

<body>
<div th:insert="~{common::#header}"></div>
<main class="payment">
    <h2>決済登録</h2>
    <form method="post" action="/payment">
        <h3>金額一覧（円）</h3>
        <div>
            <input type="button" class="choiceAmount" th:each="stampList" th:value="${stampList[0]}"  th:data-detail="${stampList[1]}">
        </div>
        <p th:if="${result}==false" th:text="${errorDetail}" class="attention"></p>
        <input type="number" name="price" placeholder="0" id="choiceAmount"/><span>円</span>
        <p id="choiceDetail"></p>
        <input type="submit" value="決済">
    </form>
</main>
<div th:insert="~{common::#footer}"></div>
</body>
</html>