<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>決済 | Kitteless</title>
    <link rel="stylesheet" href="common.css">
</head>

<body>
<div th:insert="~{common::#header}"></div>
<main class="payment">
    <h2>決済登録</h2>
    <form method="post" action="/payment">
        <p th:if="${result}==false" th:text="${errorDetail}" class="attention"></p>
        <input type="number" name="price" placeholder="切手の金額"/>
        <input type="submit" value="決済">
    </form>
</main>
<div th:insert="~{common::#footer}"></div>
</body>
</html>