<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>アカウント登録 | Kitteless</title>
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="register.css">
</head>

<body>
<header><h1>Kitteless</h1></header>
<main class="register">
  <h2>アカウント登録</h2>
  <form method="post" action="/register">
    <input type="text" name="username" placeholder="username"/>
    <input type="text" name="password" placeholder="password"/>
    <input type="submit" value="アカウント登録">
  </form>
</main>
</body>

</html>
