<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>アカウント登録 | Kitteless</title>
  <link rel="stylesheet" href="common.css">
</head>

<body>
<header><h1>Kitteless</h1></header>
<main class="register">
  <h2>アカウント登録</h2>
  <p th:if="${result}==false" class="attention">登録に失敗しました</p>
  <form method="post" action="/register">
    <input type="text" name="username" placeholder="アカウント名"/>
    <input type="text" name="password" placeholder="パスワード"/>
    <input type="submit" value="アカウント登録">
  </form>
  <p>既にアカウントはお持ちですか？</p>
  <button onclick="location.href='/login'">ログイン</button>
</main>
</body>

</html>
