<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>承認完了 | Kitteless Office</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/approve.css">
</head>

<body>
<header class="office"><h1>Kitteless Office</h1></header>
<main class="approve">
    <h2>決済を確認しました。</h2>
    <p>郵便物の配達が可能です。</p>
    <button onclick="location.href='/post-office/match'" class="mt-100">新しい郵便物を確認する</button>
</main>
</body>

</html>